<h1>Genres</h1>
<ol>
  <% @all_genres.each() do |genre| %>
  <li><a href="/all_genres/<%= genre.id() %>"><%= genre.genre() %></a></li>
  <% end %>
</ol>

<br>
<br>
<!-- <ul>
  <li><a href="/all_genres/">See Genres</a></li>
  <li></li>
</ul> -->
<a href="/all_genres/new">Add New Genre</a>
